.text-input-section {
  margin-top: 30px !important;
}

.text-input-section input {
  border: 1px solid #F1F1F1;
  outline: none;
  background-color: #F1F1F1;
  width: 400px;
  padding: 15px;
}

.text-input-section input:focus {
  border: 1px solid #21a560;
}

.play-button {
  border: none;
  padding: 15px;
  margin-left:10px;
  background-color: #21a560;
  color: #FFF;
  font-weight: 600;
  cursor: pointer;
}

.play-button:disabled {
  background-color: #D1D1D1;
}

.error-display {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}